<h2>Megoldott feladatok</h2>

<ngx-charts-pie-chart
  [view]="[700, 400]"
  [results]="solvedTasks"
  scheme="vivid"
  [animations]="false"
  [legend]="true"
  legendTitle="Jelmagyarázat"
  [legendPosition]="legendPosition"
  [labels]="true"
>
</ngx-charts-pie-chart>

<h2>A beadandó eredményeinek eloszlása</h2>

<ngx-charts-bar-vertical
  [view]="[700, 400]"
  [results]="assignmentGrades"
  scheme="vivid"
  [animations]="false"
  [legend]="true"
  legendTitle="Jelmagyarázat"
  [legendPosition]="legendPosition"
  [xAxis]="true"
  [yAxis]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  xAxisLabel="Jegy"
  yAxisLabel="Darab"
>
</ngx-charts-bar-vertical>