<nz-breadcrumb *ngIf="page">
  @if (page === "summary") {
    <nz-breadcrumb-item>Várható eredmény</nz-breadcrumb-item>
  } @else {
    <nz-breadcrumb-item>Feladatok</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <nz-select
        [(ngModel)]="taskIndex"
        (ngModelChange)="selectTaskIndex($event)"
      >
        @for (task of taskRange; track task;) {
          <nz-option
            [nzValue]="task"
            [nzLabel]="task"
          ></nz-option>
        }
      </nz-select>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <nz-select
        [(ngModel)]="selectedTask"
        (ngModelChange)="selectTask($event)"
        nzAllowClear
        nzPlaceHolder="Válassz feladatot"
      >
        <nz-option nzValue="A" nzLabel="A"></nz-option>
        <nz-option nzValue="B" nzLabel="B"></nz-option>
      </nz-select>
    </nz-breadcrumb-item>
  }
</nz-breadcrumb>
